/*MAIN*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "segoe";
    src: url("../fonts/SegoeUI.ttf");
}
body {
    font-family: segoe;
    background-color: #ffffff;
}
.container {
    max-width: 1070px;
    margin: auto;
}
header {
    height: 120px;
}
a {
    cursor: pointer;
}
a:hover {
    font-weight: 700;
}
.a {
    cursor: pointer;
}
.a:hover {
    font-weight: 700;
}
button {
    margin-top: 20px;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #d6d6d6;
}
button:focus {
    outline: none;
}
button:hover {
    background-color: #d6d6d6;
}

/*MAIN*/

/*NAVBAR*/

.navbar_bg {
    background-image: url("../img/navbar_bg.png");
    background-size: cover;
    width: 100%;
}
.navbar {
    height: 70px;
    font-size: 18px;
    color: #ffffff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 261px;
    height: 70px;
}
.navbar_acc {
    display: inline-block;
    margin-right: 50px;
    position: relative;
    cursor: pointer;
}

/*NAVBAR*/

/*MENU*/

.menu {
    width: 100%;
    height: 50px;
    color: #000000;
    font-size: 18px;
    border-bottom: 2px solid #9e0b0f;
    background-color: #ffffff;
}
.menu_ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}
.menu_li {
    padding: 12px 0;
    cursor: pointer;
}

/*MENU*/

/*PRODUCTS*/

.product_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product {
    width: 32%;
    margin-bottom: 20px;;
    margin-top: 20px;
    height: 360px;
    padding: 30px 15px 30px 15px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.07);
    text-align: center;
    position: relative;
}
.product_img {
    height: 200px;
    text-align: center;
    margin: auto;
    background-color: bisque;
}
.product_name {
    font-weight: bold;
}
.product_button {
    position: absolute;
    bottom: 10px;
    right: 30px;
    background-color: transparent;
    border: 1px solid #d6d6d6;
}
.product_button:focus {
    outline: none;
}
.product_button:hover {
    background-color: #d6d6d6;
}

/*PRODUCTS*/

/*LOGIN PAGES WHOLE SETUP*/

.login_container {
    margin: auto;
    background-color: #ffffff;
    padding: 50px;
    color: black;
    width: 400px;
}
.login_title {
    text-align: center;
}
.login_group {
    width: 300px;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.login_label {
    display: block;
    flex-grow: 0;
    white-space: nowrap;
}
.reg_input {
    display: block;
    flex-grow: 1;
    border-radius: 0;
    border: 1px solid black;
    margin-left: 5px;
    min-width: 40px;
}
.reg_input_wrong {
    border: 2px solid red;
}

/*LOGIN PAGES WHOLE SETUP*/

/*REGISTER */

#password_again_reg {
    min-width: 20px;
}
#reg_button {
    margin: auto;
    margin-top: 15px;
    padding: 5px 15px 5px 15px;
    display: block;
    border-radius: 0;
    border: 1px solid black;
}

/*REGISTER */

/*MY ACCOUNT*/

.acc_ul {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    border: 1px solid #d6d6d6;
}
.acc_li {
    flex-basis: 33%;
    padding: 30px;
    cursor: pointer;
    text-align: center;
    background-color: #ffffff;
}
.line {
    width: 1px;
    background-color: #d6d6d6;
}

/*MY ACCOUNT*/

/*MY BAG*/

.bag_wrap {
    margin-top: 25px;
    padding: 25px;
    background-color: #ffffff;
}
.bag_title {
}
.bag_title_row {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.bag_title_price {
    text-align: right;
}
.bag_item_row {
    margin-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #d6d6d6;
}
.bag_row_item {
    flex-basis: 20%;
    flex-grow: 0;
    padding: 0 20px 0 20px;
}
.bag_row_item_big {
    flex-basis: 40%;
    padding: 0 20px 0 20px;
}
#bag_item_number {
    text-align: center;
}
.bag_item_link {
    text-align: left;
}
.bag_item_img_wrap {
    text-align: center;
}
.bag_item_img {
    height: 100px;
}
.bag_item_info {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.bag_item_number_wrap {
    display: flex;
    align-items: baseline;
}
.bag_item_price {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bag_item_price_number {
    margin-top: 15px;
}

/*TOTAL PRICE*/

.bag_summary_wrap {
    display: flex;
    background-color: #ffffff;
    padding: 25px;
    justify-content: flex-end;
}
#summary_number {
    margin-left: 15px;
}

/*TOTAL PRICE*/

/*MY BAG*/

/*MY HISTORY*/

.history_wrap {
    margin-top: 25px;
    padding: 25px;
    background-color: #ffffff;
}
.history_title_row {
    text-align: center;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.history_item_row {
    text-align: center;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.history_row_item {
    flex-basis: 33%;
}
/*MY HISTORY*/

/*ACC INFO*/
.accinfo_wrap {
    margin-top: 25px;
    padding: 25px;
    background-color: #ffffff;
}
.accinfo_title_row {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.accinfo_item {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.accinfo_row_item {
    flex-basis: 50%;
}
/*ACC INFO*/

.billing_form {
    padding: 40px;
    margin-bottom: 100px;
}




















